# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

jobs:
  unit-test:
    docker:
      - image: cimg/node:19.7.0

    steps:
      - checkout

      - restore_cache:
          keys: 
            - yarn-cache-{{ checksum "yarn.lock" }}
      - run: yarn bootstrap 
      - save_cache:
          key: yarn-cache-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
            - ./apps/AEPSampleApp/node_modules
      
      - run:
          name: Unit Tests
          command: yarn tests:jest --watchAll=false

  build-sample-app-android:
    docker:
      - image: circleci/android:api-30-node

    steps:
      - checkout
      
      - run:
          name: yarn install
          command: yarn install

      - run:
          name: Building Android Sample App
          command: |
            export NODE_OPTIONS=--max-old-space-size=8192
            yarn sampleapp:android:build
          
  build-sample-app-ios:
    macos:
      xcode: "13.0.0"

    steps:
      - checkout

      # CircleCI puts xcode app in consistent path, RN looks for versioned path
      - run:
          name: Move xcode
          command: cd /Applications && mv Xcode.app Xcode-13.0.app

      - run:
          name: Install latest NodeJS
          command: brew install node

      - restore_cache:
          keys: 
            - ios-yarn-cache-{{ checksum "yarn.lock" }}
      - run: yarn bootstrap 
      - save_cache:
          key: ios-yarn-cache-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
            - ./apps/AEPSampleApp/node_modules

      - run:
          name: Install latest Cocoapods
          command: sudo gem install cocoapods
          
      - run:
          name: Install pods
          command: yarn sampleapp:ios:pod:install

      - run:
          name: Building iOS Sample App
          command: yarn sampleapp:ios:build
workflows:
  version: 2.1
  ci-workflow:
    jobs:
      - unit-test
      - build-sample-app-ios
      - build-sample-app-android
