version: 2.1

orbs:
  macos: circleci/macos@2.4.1

jobs:
  unit-test:
    docker:
      - image: cimg/node:18.20

    steps:
      - checkout

      - restore_cache:
          keys:
            - yarn-cache-{{ checksum "yarn.lock" }}

      - run:
          name: Install Node.js and Yarn Dependencies
          command: yarn install

      - run:
          name: Build the Project
          command: yarn run build

      - save_cache:
          key: yarn-cache-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
            - ./apps/AEPSampleAppNewArchEnabled/node_modules

      - run:
          name: Unit Tests
          command: yarn test --watchAll=false --runInBand

  build-sample-app-android:
    macos:
      xcode: 15.2
    environment:
      JAVA_HOME: /Library/Java/JavaVirtualMachines/zulu-11.jdk/Contents/Home
      ANDROID_HOME: /usr/local/share/android-sdk
    steps:
      - checkout

      - run:
          name: Accept Android Licenses & Install SDK Components
          command: |
            echo "y" | sdkmanager --licenses
            sdkmanager "platform-tools" "platforms;android-33" "build-tools;33.0.2" "ndk;25.1.8937393" "cmake;3.22.1"

      - run:
          name: Install Node.js and Yarn Dependencies
          command: yarn install

      - run:
          name: Build the Project
          command: yarn run build

      - run:
          name: Building Android Sample App
          command: |
            cd apps/AEPSampleAppNewArchEnabled/android
            ./gradlew clean
            ./gradlew assembleDebug --no-daemon

  build-sample-app-ios:
    macos:
      xcode: 15.2

    steps:
      - checkout

      - restore_cache:
          keys:
            - ios-yarn-cache-{{ checksum "yarn.lock" }}

      - run:
          name: Set Xcode Path
          command: sudo xcode-select -s /Applications/Xcode.app

      - run:
          name: Install Node.js and Yarn Dependencies
          command: yarn install

      - run:
          name: Build the Project
          command: yarn run build

      - save_cache:
          key: ios-yarn-cache-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
            - ./apps/AEPSampleAppNewArchEnabled/node_modules

      - run:
          name: Install Cocoapods
          command: sudo gem install cocoapods

      - run:
          name: Install Pods
          command: yarn sampleappnewarchenabled:ios:pod:install

      - run:
          name: Building iOS Sample App
          command: |
            cd apps/AEPSampleAppNewArchEnabled/ios
            xcodebuild \
              -workspace AEPSampleAppNewArchEnabled.xcworkspace \
              -scheme AEPSampleAppNewArchEnabled \
              -sdk iphonesimulator \
              -destination "generic/platform=iOS Simulator" \
              clean build

workflows:
  ci-workflow:
    jobs:
      - unit-test
      - build-sample-app-android
      # - build-sample-app-ios ;lets
